// Include custom variables default overides here

$primary: #7f187f;
$primary-opacity-8: rgba( 127 , 24, 127,  0.8);
$gray: #e6e6e6;
$headings-font-family: "Nunito", sans-serif;
$headings-font-weight: 800;
$font-family-base: "Poppins", sans-serif;
$theme-colors: (
    "primary": $primary,
    "gray": $gray,
    "primary-opacity-8": $primary-opacity-8 ,
);
// create your own map
$custom-color:(
    "icon-background": rgba(127, 24, 127, 0.1),
);
$theme-colors: map-merge($theme-colors, $custom-color );

@import "./bootstrap-5.3.3/scss/bootstrap";

// Then add additional custom code here

/*************** HEADER *********************/

.announcment-bar {
    font-size: 0.5rem;
    border-bottom: 1px solid var(--bs-gray);

    &__list{
        padding: 0;
        margin: 0;
        list-style: 0;
        display: inline-flex;
        margin: 0 - 10px;

        li{
            margin: 0 10px;
            display: flex;
            align-items: center;

            .bi{
                background-color: var(--bs-icon-background);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-right: 8px;
            }
            a{
                text-decoration: none;
            }
        }
    }

    @include media-breakpoint-down(lg){
        display: none;
    }
}

.site-header{
    padding: 0;
    margin: 0;
    &__logo{
        img{
            width: 60px;
            height: 60px;
        }
    }
    .aws-search-field{
        font-size: 0.9rem;
        border-radius: 20px !important;
        padding-left: 1.4rem;
    }
}

/****** Main MENU ********/
.main-navigation{
    font-weight: 400;
    .current-menu-item{
        background: rgb(149, 33, 149);
    }
    a{
        color: var(--bs-white);
        padding: 0.6rem 1.4rem ;
        transition: all ease-in-out 0.5s;

    }
    a:hover{
        background: rgb(149, 33, 149);
    }

    .menu-toggle{
        background-color: $primary;
        color: $white;
        border: none;
    }

    .sub-menu{
        li{
            background-color: $primary;
            padding: 0.3rem;
        }
    }
}


/*************** FRONT PAGE *********************/


/*************** SLIDER *********************/

.site-main{
    .img-carousel{
        img{
            height: 450px;
            object-fit: cover;
        }
        .carousel-inner{
            border-radius: 10px;
            .carousel-item{
                .carousel-caption{
                    background-color: $primary;
                    color: $white;
                    border-radius: 100% 100% 0 0;
                }
            }
        }
    }
}

.carousel{
    .carousel-control-prev, .carousel-control-next{
        width: 10%;
    }
}

/*************** CATEGORIES *********************/
.categories{
    background-color: #f9f9f9;

        &__col{
            height: 212px;
            .special-offer{
                object-fit: contain !important;
            }
            .special-offer-text{
                height: 100% !important;
                background-color: rgba(167, 4, 4, 0.8) !important;
                .-off{
                    font-size: 1rem;
                }
            }
            img{
                width: 100%;
                object-fit: cover;
            }
            .h2{
                background-color: rgba( 127 , 24, 127,  0.8) !important;
            }
        }

    @include media-breakpoint-up(md){
        .categories-col{
            height: 336px;
        }
    }
}

/*************** SIDEBAR *********************/
#secondary{
    a{
        text-decoration: none;
        margin: 0;
        padding: 0;
        &:hover{
            text-decoration: underline;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{
            margin: 0;
            padding: 0;
        }
    }
    .aws-search-field{
        font-size: 0.9rem;
        border-radius: 20px !important;
        padding-left: 1.4rem;
    }
    .price_slider_wrapper{
        button{
            background: #7F54B3;
            color: $white;
        }
    }
    .price_slider{
        background: #E6E3EA;
    }
    h2{
        font-size: 20px;
    }
    button{
        background: $primary;
        color: $white;
    }
    select{
        width: 100%;
        height: 50px;
        border-radius: 20px !important;
        option:checked{
            background-color: &$primary !important;
        }
    }
}

/*************** FOOTER *********************/
.payment-method{
    height: 60px;
}
.site-footer{
    .menu{
        margin: 0;
        padding: 0;
        list-style-type: none;
        a{
            color: $white;
            text-decoration: none;
            display: block;
            font-size: 15px;
            padding: 0.3rem 0rem;
            transition: all ease-in-out 0.5s;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .textwidget{
        .aws-search-field{
            font-size: 0.9rem;
            border-radius: 20px !important;
            padding-left: 1.4rem;
        }
        .icons{
            padding-top: 5px;
            display: flex;
            i{
                font-size: 1rem !important;
            }
        }
    }
}

/*************** POSTS *********************/
.media1{
    h1{
        font-size: 0.5rem !important;
    }
}